<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#header-menu">
        {{fa-icon "bars"}}
      </button>
      {{#link-to "index" classNames="navbar-brand"}}
      <img src="/assets/logo.png">
      {{/link-to}}
    </div>

    <div id="header-menu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" title="{{t "header.open"}}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{fa-icon "folder-open" size="lg" fixedWidth=true}}
            <span class="icon-label">{{t "header.open"}}</span>
          </a>
          <ul class="dropdown-menu">
            {{#if recentFiles}}
            <li class="dropdown-header">{{t "header.openRecentHeader"}}</li>
            {{#each recentFiles as |recentFile|}}
            <li>
              <a href="#" {{action "openRecent" recentFile}}>
                {{fa-icon recentFile.storageTypeIcon}}
                {{t recentFile.storageTypeTranslation}}
                {{recentFile.title}}
              </a>
            </li>
            {{/each}}
            <li class="divider"></li>
            {{/if}}
            <li>
              <a href="#" {{action "openScratch"}}>
                {{fa-icon "file-text" fixedWidth=true}}
                {{t "header.openScratch"}}
              </a>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">{{t "header.openHeader"}}</li>
            <li>
              <a href="#" {{action "open" "dropbox"}}>
                {{fa-icon "dropbox" fixedWidth=true}}
                {{t "storageType.dropbox"}}
              </a>
            </li>
            <li>
              <a href="#" {{action "open" "google-drive"}}>
                {{fa-icon "google" fixedWidth=true}}
                {{t "storageType.google-drive"}}
              </a>
            </li>
            <li>
              <a href="#" class="open-local">
                <label for="open-local-file-input">
                  {{fa-icon "laptop" fixedWidth=true}}
                  {{t "header.local"}}
                </label>
                <input type="file" accept=".adoc,.asciidoc,text/*" id="open-local-file-input">
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown" title="{{t "header.save"}}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img class="save-icon fa fa-lg fa-fw" src="/assets/save-white.png">
            <span class="icon-label">{{t "header.save"}}</span>
          </a>
          <ul class="dropdown-menu">
            {{#if headerSaveStorageSpec}}
            <li class="dropdown-header">{{t "header.saveHeader"}}</li>
            <li>
              <a href="#" {{action "save"}}>
                {{fa-icon headerSaveStorageTypeIcon}}
                {{t headerSaveStorageTypeTranslation}}
                {{headerSaveTitle}}
              </a>
            </li>
            <li class="divider"></li>
            {{/if}}
            <li class="dropdown-header">{{t "header.saveAsHeader"}}</li>
            <li>
              <a href="#" {{action "saveAs" "dropbox"}}>
                {{fa-icon "dropbox" fixedWidth=true}}
                {{t "storageType.dropbox"}}
              </a>
            </li>
            <li>
              <a href="#" {{action "saveAs" "google-drive"}}>
                {{fa-icon "google" fixedWidth=true}}
                {{t "storageType.google-drive"}}
              </a>
            </li>
            <li>
              <a href="#" {{action "saveLocal"}}>
                {{fa-icon "laptop" fixedWidth=true}}
                {{t "header.local"}}
              </a>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">{{t "header.exportHeader"}}</li>
            <li>
              <a href="#" {{action "downloadHtml"}}>
                {{fa-icon "code" fixedWidth=true}}
                {{t "header.exportHtml"}}
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown" title="{{t "header.settings"}}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{fa-icon "gear" size="lg" fixedWidth=true}}
            <span class="icon-label">{{t "header.settings"}}</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" {{action "toggleSetting" "syncScroll"}}>
                {{#if settings.syncScroll}}
                  {{fa-icon "toggle-on"}}
                {{else}}
                  {{fa-icon "toggle-off"}}
                {{/if}}
                {{t "settings.syncScroll"}}
              </a>
            </li>
            <li>
              <a href="#" {{action "toggleSetting" "autoSave"}}>
                {{#if settings.autoSave}}
                  {{fa-icon "toggle-on"}}
                {{else}}
                  {{fa-icon "toggle-off"}}
                {{/if}}
                {{t "settings.autoSave"}}
              </a>
            </li>
            <li>
              <a href="#" {{action "toggleSetting" "showHtml"}}>
                {{#if settings.showHtml}}
                  {{fa-icon "toggle-on"}}
                {{else}}
                  {{fa-icon "toggle-off"}}
                {{/if}}
                {{t "settings.showHtml"}}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#" {{action "showEditorThemeModal"}}>
                {{fa-icon "paint-brush" fixedWidth=true}}
                {{t "settings.editorTheme"}}
              </a>
            </li>
            <li>
              <a href="#" {{action "showHighlightjsThemeModal"}}>
                {{fa-icon "file-code-o" fixedWidth=true}}
                {{#if settings.showHtml}}
                  {{t "settings.previewTheme"}}
                {{else}}
                  {{t "settings.previewCodeListingTheme"}}
                {{/if}}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#" {{action "showFontModal"}}>
                {{fa-icon "font" fixedWidth=true}}
                {{t "settings.font"}}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#" {{action "showEditorModeModal"}}>
                {{fa-icon "keyboard-o" fixedWidth=true}}
                {{t "settings.editorMode"}}
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown" title="{{t "header.help"}}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{fa-icon "question-circle" size="lg" fixedWidth=true}}
            <span class="icon-label">{{t "header.help"}}</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="http://powerman.name/doc/asciidoc" target="_blank">
                {{t "header.cheatsheet"}}
                &nbsp;
                {{fa-icon "external-link"}}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#" {{action "showFaqModal"}}>
                {{fa-icon "question-circle" fixedWidth=true}}
                {{t "header.faq"}}
              </a>
            </li>
            <li>
              <a href="#" {{action "showAboutModal"}}>
                {{fa-icon "info-circle" fixedWidth=true}}
                {{t "header.about"}}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="https://github.com/jichu4n/asciidoclive/issues/new" target="_blank">
                {{fa-icon "comment-o" fixedWidth=true}}
                {{t "header.feedback"}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{outlet}}
{{content-modal contentKey="faq"
                titleTranslation="modal.faq.title"
                isVisible=isFaqModalVisible}}
{{content-modal contentKey="about"
                titleTranslation="modal.about.title"
                isVisible=isAboutModalVisible}}
{{theme-modal themes=settings.EDITOR_THEMES
              themeName=settings.editorThemeName
              titleTranslation="modal.editorTheme.title"
              isVisible=isEditorThemeModalVisible}}
{{theme-modal themes=settings.HIGHLIGHTJS_THEMES
              themeName=settings.highlightjsThemeName
              titleTranslation="modal.highlightjsTheme.title"
              isVisible=isHighlightjsThemeModalVisible}}
{{theme-modal themes=settings.EDITOR_MODES
              themeName=settings.editorModeName
              titleTranslation="modal.editorMode.title"
              isVisible=isEditorModeModalVisible}}
{{font-modal isVisible=isFontModalVisible}}

