<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#header-menu">
        {{fa-icon "bars"}}
      </button>
      {{#link-to "index" classNames="navbar-brand"}}
      <img src="/assets/logo.png">
      {{/link-to}}
    </div>

    <div id="header-menu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{fa-icon "folder-open"}}
            {{t "header.open"}}
            &nbsp;
            {{fa-icon "caret-down"}}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" {{action "open-dropbox"}}>
                {{fa-icon "dropbox"}}
                {{t "header.dropbox"}}
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{fa-icon "floppy-o"}}
            {{t "header.save"}}
            &nbsp;
            {{fa-icon "caret-down"}}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" {{action "save-dropbox"}}>
                {{fa-icon "dropbox"}}
                {{t "header.dropbox"}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{outlet}}
