<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#header-menu">
        {{fa-icon "bars"}}
      </button>
      {{#link-to "index" classNames="navbar-brand"}}
      <img src="/assets/logo.png">
      {{/link-to}}
    </div>

    <div id="header-menu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" title="{{t "header.open"}}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{fa-icon "folder-open" size="lg" fixedWidth=true}}
            <span class="icon-label">{{t "header.open"}}</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" {{action "openFromDropbox"}}>
                {{fa-icon "dropbox"}}
                {{t "header.dropbox"}}
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown" title="{{t "header.save"}}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{fa-icon "floppy-o" size="lg" fixedWidth=true}}
            <span class="icon-label">{{t "header.save"}}</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" {{action "saveToDropbox"}}>
                {{fa-icon "dropbox"}}
                {{t "header.dropbox"}}
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown" title="{{t "header.settings"}}">
          <a href="#">
            {{fa-icon "gears" size="lg" fixedWidth=true}}
            <span class="icon-label">{{t "header.settings"}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{outlet}}
