<div class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                type="button"
                data-dismiss="modal">
          {{fa-icon "times"}}
        </button>
        <h4 class="modal-title">{{t "modal.font.title"}}</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>{{t "modal.font.editorFont" value=settings.editorFont}}</label>
            {{input id="editor-font"
                    type="text"
                    value=settings.editorFont
                    placeholder=(t "modal.font.editorFontPlaceholder")
                    classNames="form-control"}}
          </div>
          <div class="form-group">
            <label>{{t "modal.font.editorFontSize" value=editorFontSize}}</label>
            <div class="slider-container">
              {{input id="editor-font-size-slider"
                      type="text"
                      value=editorFontSize}}
            </div>
          </div>
          <div class="form-group">
            <label>{{t "modal.font.previewFont" value=settings.previewFont}}</label>
            {{input id="preview-font"
                    type="text"
                    value=settings.previewFont
                    placeholder=(t "modal.font.previewFontPlaceholder")
                    classNames="form-control"}}
          </div>
          <div class="form-group">
            <label>{{t "modal.font.previewFontSize" value=previewFontSize}}</label>
            <div class="slider-container">
              {{input id="preview-font-size-slider"
                      type="text"
                      value=previewFontSize}}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal">
          {{t "modal.close"}}
        </button>
      </div>
    </div>
  </div>
</div>
