<div class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                type="button"
                data-dismiss="modal">
          {{fa-icon "times"}}
        </button>
        <h4 class="modal-title">{{t "modal.fontSize.title"}}</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>{{t "modal.fontSize.editorFontSize" value=editorFontSize}}</label>
            <div class="slider-container">
              {{input id="editor-font-size-slider"
                      type="text"
                      value=editorFontSize}}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal">
          {{t "modal.close"}}
        </button>
      </div>
    </div>
  </div>
</div>
